build/*
bin/*
*.class
*.orig
*.DS_Store
/bin/
target/*
/src/test/resources/examples/generated/
.idea
/src/main/resources/example/
/src/main/resources/Main.java
/src/main/resources/spout.txt
/src/main/resources/summaries.txt
/GEMINI.md
/src/main/resources/dse.smtlib
/src/test/resources/generated
!/src/main/resources/constructor/SummaryMain.class
/src/test/resources/generated-examples
/src/test/resources/generated-examples-log